player-connection-mode=Listen
player-connection-guid=2249146392
player-connection-debug=0
player-connection-project-name=Jaliya-ArcadeGame
player-connection-ip=192.168.29.170
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b87b26245c0443719af4e8ef1e0d6c0a
